/* === Layout base === */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to bottom right, #f1fdf6, #d8f3dc);
  color: #0f2e1c;
}

/* === Navegación === */
nav {
  background-color: #198754;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #146c43;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* === Contenido principal === */
main {
  flex: 1;
  padding: 2rem 1rem;
}

/* === Footer fijo al fondo === */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #198754;
  color: #ffffff;
  text-align: left;
  padding: 10px
}

footer p{
  color: #ffffff
}

footer p a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: underline;
}

footer a:hover {
  color: #479f76;
}

