* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.login-box {
    background: #f4f4f4;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    width: 300px; 
    border: 2px solid #0F5132
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    margin-top: 10px;
}

.login-box input{
    background-color:  #A3CFBB;
}

.login-box input,
.login-box button {
    margin-top: 5px;
    padding: 8px;
}

.login-box button {
    margin-top: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #45a049;
}

.float-end{
    text-align: right;
}

#logo img {
  display: block;            
  max-width: 150px;         
  height: auto;              
  margin: 0 auto 20px auto;  
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(5, 27, 17, 1);
  bottom: 0;
  width: 100%;
}

.footer-center {
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-right a {
  color: white;
  font-size: 14px;
}
footer-switch { /*Contenedor del switch en el footer*/
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}
footer .container {
  position: relative;
}

/* Contenedor del switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Oculta el checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo del slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
/* Botón circular dentro del slider */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Cuando está activado */
input:checked + .slider {
  background-color: rgba(5, 27, 17, 1);
}

input:checked + .slider:before {
  transform: translateX(26px);
}
/*Modo oscuro*/
body.dark-mode .login-box {
  background-color: rgba(117, 183, 152, 1);
  color: #000000;
  border: 2px solid #0c0c0c;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
body.dark-mode {
  background: linear-gradient(to bottom right, rgba(8, 43, 27, 1), rgba(10, 54, 34, 1));
  color: #000000;
}
body.dark-mode .form-control {
  background-color: #1e1e1e;
  color: #f1f1f1;
  border-color: #444;
}

body.dark-mode input::placeholder {
  color: #aaa;
}
body.dark-mode .btn-success {
  background-color: rgba(46, 75, 60, 1);
  border-color: rgba(46, 75, 60, 1);
  color: #fff;
}

body.dark-mode footer {
  background-color: rgba(5, 27, 17, 1);
  color: #ffffff;
}  
@media (max-width:  568px) {
    .login-box{
        width: 90%;
    padding: 15px 20px;
    margin: 0 auto;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .login-box {
    width: 90%;  
    max-width: 600px;    
    padding: 40px 30px;  
    margin: 0 auto;     
    transform: scale(1.5); 
    transform-origin: top center; 
  }
}
